<mat-sidenav-container class="container">

    <mat-sidenav #sidebar mode="side" opened>
        Side bar Content!!
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content">
            <div class="toolbar">
                <mat-toolbar style="background-color: darkblue;">
                    <mat-icon style="background-color: white;"  (click)="sidebar.toggle()">menu</mat-icon>
                </mat-toolbar>
            </div>

            <div class="main">
                Main Content!! 
            </div>

        </div>
    </mat-sidenav-content>

</mat-sidenav-container>